body {
    min-height: 150px;
    padding-top: 30px;
  }

.contenedor{
    border-top:1px;
    padding: 0px;
    margin: 0px;
    width: 200px;
    height: 200px;   
}

.menu-navbar{
    background-color: dodgerblue;
    color:white;    
}

.jumbotron{
    background-color: dodgerblue;
    color:white;
}
#menu-nav{ 
    position: fixed;
    z-index: 5;
}
   
#header { 
    margin-top: 100px;
} 

.btn{
    background-color:dodgerblue;
    color:white;
}

.footer{
    border-top:1px;
    padding: 10px 10px 0px 10px;
    background-color: dodgerblue;
    margin-bottom:  0px;
    margin-top:10px;
    color:white;
}

.card-turismo{
    flex : 1 200px;
    margin-top: 10px; 
}

.btn-turismo{
    width: 100%;
    border-radius:0px;
}

.letras-navbar
{
    color:white;
}
.letras-footer
{
    color:white;
}

.letras-footer{
    padding-right: 10px;
}

.imagen-turismo{
    height: 150px;
    width: 300px;
}

.imagen-servicios{
    height: 150px;
    width: 200px;
}